{% extends "layout.html" %}

{% block content %}
<div class="layui-col-md12 site-content">
    <style>
        p {
            text-indent: 2em;
        }
    </style>
    <hr />
    <h1 align="center">链接集合</h1>
    <from class="layui-form">     
    <div class="layui-container">
    <hr />
    <div class="layui-text" id="text1">GM指令：</div>
    <a href="/gm">http://192.168.1.220:8888/gm</a>
    <hr />
    <div class="layui-text" id="text1">excel检测：</div>
    <a href="/check">http://192.168.1.220:8888/check</a>
    <hr />
    <div class="layui-text" id="text1">安装包下载：</div>
    <a href="" target="_blank"></a>
    <hr />
    <div class="layui-text" id="text1">管理后台：</div>
    <a href="" target="_blank"></a>
    <p>admin</p>
    <p style="color: white;">psw</p>
    <hr />
    <div class="layui-text" id="text1">客户端打包：</div>
    <a href="/" target="_blank"></a>
    <hr />
    <div class="layui-text" id="text1">传包：</div>
    <a href="/upload" target="_blank">http://192.168.1.220:8888/upload</a>
    <hr />
    <div class="layui-text" id="text1">后台GM请求：</div>
    <a href="/bggm" target="_blank">http://192.168.1.220:8888/bggm</a>
    <hr />
    <div class="layui-text" id="text1">上周五到本周五的svn log（用来写更新日志）：</div>
    <a href="/svnlog" target="_blank">http://192.168.1.220:8888/svnlog</a>
    <hr />
    
<br />
<div id="linebar" style="height: 500%;width:100%;margin: 0;"></div>
</div>
</div>
{% endblock %}

{% block scripts %}
<script>
    function load(){

    }

</script>
{% endblock %}
